@import "tailwindcss";

body{
  background-color: rgb(22, 22, 22);
  color: white;
}

.albumHearButton{
  @apply flex gap-2 items-center border border-white/20 py-3 px-6 rounded-xl w-fit
}

.secondTop{
    @apply text-[16px] lg:text-[16px] text-white/40
}

.btn {
    @apply rounded-[8px] py-3 px-10 text-[16px] text-white/70
}

.navLink{
    @apply border-b border-white/10 pb-3;
}
.btnSecond {
  @apply rounded-xl bg-[#ffffff0c] border border-white/20 py-3 pl-8 pr-6 text-white/70 active:text-white;
}

Link:active{
  color:white;
}

html {
  scroll-behavior: smooth; /* suave deslizamiento en marcadores */
}