@import "tailwindcss";


body{
  background-color: rgb(22, 22, 22);
}

.carousel-track {
display:flex;
width:max-content;
animation: scroll-left 35s linear infinite;
animation-timing-function: linear;

}
@media screen and (min-width:1400px){
  .carousel-track{
    animation-duration:35s;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.secondTop{
    @apply text-[16px] lg:text-[16px] 
}

.btn {
    @apply rounded-[8px] py-3 px-8 text-[14px] text-white/70
}

.navLink{
    @apply border-b border-white/10 pb-3;
}