@import "tailwindcss";


body{
  background-color: rgb(22, 22, 22);
}

.carousel-track {
display:flex;
width:max-content;
animation: scroll-left 35s linear infinite;
animation-timing-function: linear;

}
@media screen and (min-width:1400px){
  .carousel-track{
    animation-duration:35s;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.secondTop{
    @apply text-white/60 text-[12px] lg:text-[16px];
}

.btn {
    @apply my-[2px] rounded-[8px] py-2 px-7 text-[14px] text-white/70
}

.navLink{
    @apply border-b border-white/10 pb-3;
}